.fs-15{
  font-size: 15px;
}

.mt-9{
  margin-top: 9px;
}

.mb-6{
  margin-bottom: 6px;
}

.hidden{
  display: none;
}

.mt-2{
  margin-top: -2px;
}

.m-a{
  margin: auto;
}

.w-180{
  width: 180px;
}
