.all-todolist{
  background-color: #cdcdf9;
  width: 655px;
  min-height: 90px;
  margin: auto;
  border: 1px solid grey;
  // border-radius: 0 0 16px 16px;
  margin-top: 60px;
}

.title{
  &:hover{
    .icons-drop-edit .icon-edit, .icon-drop, .border_dr_ed{
      display: inline-block !important;
      cursor: pointer;
    }
  }
  .img-nodelist{
    margin: 8px 6px 0 11px;
    color: #484848;
  }
  span{
    font-size: 18px;
    color: white;
  }
  width: 100%;
  height: 44px;
  background: linear-gradient(to bottom, #5681b6 0%, #103a7d 100%);
  border: 1px solid #315589;
  border-radius: 2px 2px 0 0;
}


.input-task{
  img{
    color: green;
    margin: 10px 9px 0 11px;
  }
  .btn-add-task{
    margin: 0;
    height: 28px;
    margin-top: 8px;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    background: linear-gradient(#91f5c0  0%, #4b9a6d 77%);
    border: 1px solid #447557;
    border-radius: 0 5px 5px 0;
    outline: none;
  }
  input{
    margin-top: 7px;
    height: 30px;
    width: 81% !important;
    margin-left: -6px;
    outline: none;
    border-radius: 0px;
  }
  .bs{
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.75);
  }

  width: 100%;
  height: 44px;
  background-color: #cec7c7;;
}

.all-tasks{
  width: 100%;
  min-height: 40px;
  background-color: white;
  border-radius: 0 0 16px 16px;
}

.icon-edit{
  margin: 12px 7px 0px 18px;
  display: inline-block;
}

.icon-drop{
  display: inline-block;
  margin: 12px 0px 0px 7px;
}

.border-r{
  border-right: 1px solid #989393;
  height: 16px;
  display: inline-block;
}

.update-todo{
  color: black;
}

.todolist-title-input{
  display: inline-block;
  border-radius: 5px;
  border: 1px solid white;
  height: 28px;
}

.field-todolist-title{
  margin-bottom: -4px;
  display: inline-block;
}

.btn-submin-update, .btn-remove-update{
  height: 21px;
  border-radius: 5px;
  border: 1px solid grey;
  width: 30px;
}
