
@import '_helpers';
@import '_todolist';

body{
  background: linear-gradient(#ffffff 0%, #d88200 100%) no-repeat fixed;//убрать
}
h1{
  font-size: 2px;
}

.header{
  padding-top: 8px;
  height: 55px;
  width: 100%;
  background-color: blue;
  a{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 40px;
  }
}

main{
  min-height: 495px;
}

.btn-add-todo{
  background-color: #3d3dea;
  font-weight: bold;
  color: white;
  border-color: #3d3dea;
  display: block;
  margin: auto;
  margin-top: 80px;
  height: 35px;
  width: 152px;
}

.icon-btn-addtodo{
  color: #1f2b86;
  font-size: 17px;
  margin-right: 7px;
}
.url-error{
  margin-top: 40px;
  font-size: 45px;
  color: red;
}
