.fs-15 {
  font-size: 15px; }

.mt-9 {
  margin-top: 9px; }

.all-todolist {
  background-color: #cdcdf9;
  width: 655px;
  min-height: 90px;
  margin: auto;
  border: 1px solid grey;
  margin-top: 60px; }

.title {
  width: 100%;
  height: 44px;
  background: linear-gradient(to bottom, #5681b6 0%, #103a7d 100%);
  border: 1px solid #315589;
  border-radius: 2px 2px 0 0; }
  .title img {
    margin: 8px 6px 0 11px;
    color: #484848; }
  .title span {
    font-size: 18px;
    color: white; }

.input-task {
  width: 100%;
  height: 44px;
  background-color: #cec7c7; }
  .input-task img {
    color: green;
    margin: 10px 9px 0 11px; }
  .input-task .btn-add-task {
    margin: 0;
    height: 28px;
    margin-top: 8px;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    background: linear-gradient(#91f5c0 0%, #4b9a6d 77%);
    border: 1px solid #447557;
    border-radius: 0 5px 5px 0;
    outline: none; }
  .input-task input {
    margin-top: 7px;
    height: 30px;
    width: 81% !important;
    margin-left: -6px;
    outline: none;
    border-radius: 0px; }
  .input-task .bs {
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.75); }

.all-tasks {
  width: 100%;
  min-height: 40px;
  background-color: white;
  border-radius: 0 0 16px 16px; }

body {
  background: linear-gradient(#ffffff 0%, #d88200 100%) no-repeat fixed; }

h1 {
  font-size: 2px; }

.header {
  padding-top: 8px;
  height: 55px;
  width: 100%;
  background-color: blue; }
  .header a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 40px; }

main {
  min-height: 495px; }

.btn-add-todo {
  background-color: #3d3dea;
  font-weight: bold;
  color: white;
  border-color: #3d3dea;
  display: block;
  margin: auto;
  margin-top: 80px;
  height: 35px;
  width: 152px; }

.icon-btn-addtodo {
  color: #1f2b86;
  font-size: 17px;
  margin-right: 7px; }
